<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.zhuky.mybatis.dao.OrderMapper">

    <select id="queryOrderUserByOrderNumber" resultType="com.zhuky.mybatis.pojo.OrderUser">
        select * from tb_order o left join tb_user u on o.user_id = u.id where o.order_number = #{number}
    </select>

    <resultMap id="OrderUserResultMap" type="com.zhuky.mybatis.pojo.Order" autoMapping="true">
        <id column="id" property="id"/>
        <!--
            association:完成子对象的映射
            property：子对象在父对象中的属性名
            javaType:子对象的java类型
            autoMapping：完成子对象的自动映射，若开启驼峰，则按驼峰匹配
        -->
        <association property="user" javaType="com.zhuky.mybatis.pojo.User" autoMapping="true">
            <id property="id" column="user_id"/>
        </association>
    </resultMap>

    <select id="queryOrderWithUserByOrderNumber" resultMap="OrderUserResultMap">
        select * from tb_order o left join tb_user u on o.user_id = u.id where o.order_number = #{number}
    </select>


    <resultMap id="OrderUserDetailResultMap" type="com.zhuky.mybatis.pojo.Order" autoMapping="true">
        <id column="id" property="id"/>
        <!--
            association:完成子对象的映射
            property：子对象在父对象中的属性名
            javaType:子对象的java类型
            autoMapping：完成子对象的自动映射，若开启驼峰，则按驼峰匹配
        -->
        <association property="user" javaType="com.zhuky.mybatis.pojo.User" autoMapping="true">
            <id property="id" column="user_id"/>
        </association>
        <!--
            property : 子对象在父对象中的属性名
            javaType:子对象的java类型
            ofType:集合中对象的java类型
        -->
        <collection property="detailList" javaType="List" ofType="com.zhuky.mybatis.pojo.OrderDetail" autoMapping="true">
            <id property="id" column="id"/>
        </collection>
    </resultMap>

    <select id="queryOrderWithUserAndDetailByOrderNumber" resultMap="OrderUserDetailResultMap">
        select * from tb_order o
           left join tb_user u on o.user_id=u.id
           left join tb_orderdetail od on o.id=od.order_id
           where o.order_number = #{number}
    </select>

    <resultMap id="OrderUserDetailItemResultMap" type="com.zhuky.mybatis.pojo.Order" autoMapping="true">
        <association property="user" javaType="com.zhuky.mybatis.pojo.User" autoMapping="true">
            <id column="user_id" property="id"/>
        </association>
        <collection property="detailList" javaType="List" ofType="com.zhuky.mybatis.pojo.OrderDetail" autoMapping="true">
            <id column="id" property="id"/>
            <association property="item" javaType="com.zhuky.mybatis.pojo.Item" autoMapping="true">
                <id column="id" property="id"/>
            </association>
        </collection>
    </resultMap>
    
    <select id="queryOrderWithUserAndDetailItemByOrderNumber" resultMap="OrderUserDetailItemResultMap">
        select * ,od.id as detail_id from tb_order o
           left join tb_user u on o.user_id=u.id
           left join tb_orderdetail od on o.id=od.order_id
           left join tb_item i on od.item_id=i.id
           where o.order_number = #{number}
    </select>

    <resultMap id="LazyOrderUserResultMap" type="com.zhuky.mybatis.pojo.Order" autoMapping="true">
        <id property="id" column="id"/>
        <!--select:子查询的statement的id，column：子查询中的条件-->
        <association property="user" javaType="com.zhuky.mybatis.pojo.User" autoMapping="true" select="queryUserById" column="user_id"/>
    </resultMap>
    <select id="queryOrderAndUserByOrderNumberLazy" resultMap="LazyOrderUserResultMap">
        select * from tb_order where order_number = #{number}
    </select>

    <select id="queryUserById" resultType="com.zhuky.mybatis.pojo.User">
        select * from tb_user where id=#{id}
    </select>

</mapper>